html, body
{
    width: 100vw;
    height: 100vh;
}
h1
{
    font: normal bold 48pt/1.4em 'Copse', serif;
    text-align: center;
}

h2
{
	font: normal bold 48pt/1.4em 'Yantramanav', sans-serif;
    color: #fff;
	text-align: center;
}
